
@mixin setBgClr($color) {
    background-color: $color;
  }
#pop-up
{
    @include setBgClr(#ffffff);
    position: fixed;
    width: 300px;
    height: 300px;
    top :40%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    opacity: 0;
    display: none;
    z-index:99;
}

#pop-up2
{
    @include setBgClr(#ffffff);
    position: fixed;
    width: 300px;
    height: 300px;
    top :40%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    opacity: 0;
    display: none;
    z-index:99;
}

